.lesson_wrapper {
    border-radius: 10px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 50%);
    margin-bottom: 15px;
}

.lesson {
    display: flex;
}

.lesson__time_interval {
    min-width: 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.lesson__time_interval__from {}

.lesson__time_interval__to {}

.lesson__progress_bar {
    width: 2px;
    border-radius: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.lesson__progress_bar__counter {
    width: 2px;
    border-radius: 1px;
}

.lesson__info {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
}

.lesson__info li:not(:last-child) {
    margin-bottom: 6px;
}

.lesson__info__subject {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: bold;
}

.lesson__info__teacher {
    display: inline-block;
    margin-bottom: 6px;
    color: #7a8284;
}

.lesson__info__teacher_icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.lesson__info__classroom {
    color: #7a8284;
}

.lesson__info__classroom_icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.lesson_time_left {
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0 0 5px 5px;
}