.simple_list_item {
    background-color: white;
    padding: 0.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.simple_list_item__bottom_line {
    border-bottom: 0.5px solid rgb(171, 171, 172);
}

.simple_list_item__text {
    width: 100%;
}

.simple_list_item__icon {
    width: 14px;
    height: 14px;
}
