.days_row {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.day {
    text-align: center;
    margin: 8px;
}

.day__date__selected {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    color: white;
    background-color: red;
}

.date_input {
    appearance: none;
    outline: none;
    background: #E9E9EA;
    border: none;
    color: red;
    border-radius: 4px;
    justify-content: center;
}
